[submodule "fish"]
	path = fish
	url = https://github.com/dedsecer/linuxcf_fish
[submodule "nvim"]
	path = nvim
	url = https://github.com/dedsecer/linuxcf_neovim
[submodule "ranger"]
	path = ranger
	url = https://github.com/dedsecer/linuxcf_ranger
